.link { 
    text-decoration: none;
}
.list {

list-style: none;
}

:root {
--bg-color: #ffffff;
--link-color: #2e2f42;
--title-color: #2e2f42;
--bg-btn-color: #F4F4FD;

}
/*------------INDEX----------*/

.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
        margin-top: 0;
        margin-bottom: 0;
}
ul,ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

img {
        display: block;
}

body {
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background: var(--bg-color);
    
}

.span { 
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.header {
        height: 72px;
        border-bottom: 1px solid #e7e9fc;
       
}
.header-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
        padding: 24px 0;
}

.header-list {
        display: flex;
        gap: 40px;
        padding: 24px 0;

}

.header-nav {
        display: flex;
        align-items: center;

}

.header-container {
        display: flex;
      
}


.header-link {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--link-color);
       
}

.header-link:hover,
.header-link:focus {
        color: #404bbf;
}

.address {
        font-style: normal;
        margin-left: auto;
        padding: 24px 0;
}

.address-list {
        display: flex;
        gap: 40px;
        
}
.address-link {
        
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
        color: #404bbf;
}

.hero {
    background: #2E2F42;
        
}

.hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 188px 0;
}
.hero-title {
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        width: 496px;
        
        
}
.hero-button {
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 48px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        
}

.hero-button:hover,
.hero-button:focus {
        background-color: #404BBF;
}


.services {
        height: 344px;
        padding: 120px 0;
}

.services-title {
   
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-bottom: 8px
}

.services-list {
        display: flex;
        gap: 24px;
}
.services-text { 
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*-------------------------SECTION-THREE-----------------*/

.features {
        padding-bottom: 120px
}
.features-title {
   
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        margin-bottom: 72px;
}


.features-list {
        display: flex;
        gap: 24px;
}

/*-----------------------------SECTION-FOUR--------------------*/
.team {
        background-color: #F4F4FD
}


.team-item {
        background-color: #FFFFFF

}
.container-team {
        padding: 120px 0;
}

.member-text {
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.team-title {
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        margin-bottom: 72px;
       
}


.team-list {
        display: flex;
        gap:24px;
          
}

.team-member {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);

}
.team-text {
   
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*-----------------------------FOOTER--------------------*/


.footer {
    background: #2E2F42;
}

.container-footer {
        display: flex;
        flex-direction: column;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-top: 100px;
        margin-bottom: 16px;
}
.footer-text {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        width: 264px;
        margin-bottom: 100px;
}
.footer-span {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

/*------------PORTFOLIO-------------*/

/*BUTTONS*/
.portfolio-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background-color: var(--bg-btn-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {

        color: #FFFFFF;
        background-color: #404BBF;
}
.portfolio-btn {
        cursor: pointer;
        border-radius: 4px;
        border: none;
        padding: 12px 24px;
}

.portfolio-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 96px;
        margin-bottom: 72px;
}

.gallery-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        padding-bottom: 120px;
        
}

.gallery-title {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin: 32px 8px 16px
       
}

.gallery-text {
  
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
        padding-left: 16px;
}
.gallery-item {
        border: 1px solid #E7E9FC;
}