.link { 
    text-decoration: none;
}
.list {

list-style: none;
}

:root {
--bg-color: #ffffff;
--link-color: #2e2f42;
--title-color: #2e2f42;
--bg-btn-color: #F4F4FD;

}
/*------------INDEX----------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: var(--bg-color);
    
}

.span { 
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.header-logo {
        font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
}
.header-link {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--link-color);
       
}

.header-link:hover,
.header-link:focus {
        color: #404bbf;
}

.address {
    font-style: normal;
}
.address-link {
        
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
        color: #404bbf;
}

.hero {
    background: #2E2F42;
}

.hero-title {
    
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.hero-button {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
        background-color: #404BBF;
}
.services-title {
   
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}
.services-text { 
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.features-title {
   
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
}

.team {
        background-color: #F4F4FD

}

.team-item {
        background-color: #FFFFFF
}

.team-title {
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
}
.team-member {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}
.team-text {
   
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.footer-text {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
.footer-span {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

/*------------PORTFOLIO-------------*/

/*BUTTONS*/
.portfolio-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background-color: var(--bg-btn-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {

        color: #FFFFFF;
        background-color: #404BBF;
}
.portfolio-btn {
        cursor: pointer;
}

.gallery-title {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}

.gallery-text {
  
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}